{% extends 'base/front_base.html' %}
{% load news_filters %}

{% block title %}
    搜索
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/search/search.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-group">
                    <form action="" method="get">
                        <input type="text" name="q" class="search-input" placeholder="请输入关键字" value="{{ query }}">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="recommend-group">
{#                    <p class="recommend-title">使用Whoosh搜索引擎</p>#}
                    <p style="width: 100%;height: 45px;display: block;line-height: 45px;text-align: center;">采用Whoosh搜索引擎</p>
                    <ul class="recommend-list">
                        {% for result in page.object_list %}
                            {% with result.object as news %}
                                <li>
                                    <div class="thumbnail-group">
                                        <a href="{% url 'news:news_detail' news_id=news.pk %}">
                                            <img src="{{ news.thumbnail }}" alt="">
                                        </a>
                                    </div>
                                    <div class="news-group">
                                        <p class="title">
                                            <a href="{% url 'news:news_detail' news_id=news.pk %}">{{ news.title }}</a>
                                        </p>
                                        <p class="desc">
                                            {{ news.desc }}
                                        </p>
                                        <p class="more">
                                           <span class="category">{{ news.category.name }}</span>
                                            <span class="pub-time">{{ news.pub_time|time_since }}</span>
                                            <span class="author">{{ news.author.username }}</span>
                                        </p>
                                    </div>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}